@charset "UTF-8";

	body {	
	  padding: 0px;
	  margin: 0px;
	}
	.logbtn{
		color:#6c757d;
		border-color:#989ea3;
		position:relative;
		z-index:2;
		background-color:#eeeeee;
		border:1px solid #ced4da;
		border-radius:.25rem
	}
	.logbtn:hover{
		color:#fff;
		background-color:#6c757d;
		border-color:#6c757d;
	}
	.logbtn:focus{
		box-shadow:0 0 0 .25rem rgba(108,117,125,.5);
	}
	.logbtn:active{
		color:#fff;
		background-color:#6c757d;
		border-color:#6c757d
	}
	.LPImg {
		position:absolute;
		top : 500px;
		left : 550px;
		width  : 100px;
		height : 100px;
	}
	
	.LPImg img:hover {
		transition : transform 7s;
		transform:rotate(360deg);
	}
	
	.logo{
		position: fixed;
		top : 20px;
		left : 50px;
	}
	
	.menu_top{
		position: fixed;
		z-index : 99;
		top : 0px;
		left : 195px;
		width: 90%;
		height: 100px;
		color : white;
		overflow:hidden;
		
		padding-top : 20px;
		
		background-color : white;
		
		border-bottom :1px solid; 
		border-color : rgb(233, 229, 232);
	}
	
	li{list-style:none}
	
	.menu_top ul{
		display : inline-block;
	}
	
	.menu_top li {
		top : 50px;
		width: 90PX;
		float: left;
		text-align: center;
		line-height: 30px;
	}
	
	.menu_top input {
		top : 30px;
		left : 40%;
		width: 350px;
		height: 40px;
		font-size: 13px;
		color : Black;
		outline: none;
		padding-left: 17px;
		
		background-image: url('../98_Image/Search.jpg');
		background-repeat: no-repeat;
		background-size : 35px;
		background-position: right;
		
		border-radius: 20px;
		border : 2px solid;
		border-color: rgb(255, 0, 0);
	}
	
	.menu_left{
		position: fixed;
		z-index : 98;
		top: 99px;
		width: 200px;
		height: 100%;
		overflow:hidden;
		
		padding-top: 30px;
		
		background-color : white;
		
		border-top :1px solid;
		border-right :1px solid; 
		border-color : rgb(233, 229, 232);
	}
	
	.menu_left li {
		height: 60PX;
		text-align: left;
	}
	
	.menu_right{
		position : fixed;
		z-index : 99;
		top : 10px;
		right : 30px;
		width : 200px;		
	}
	
	.menu_right li {
		top : 0px;
		width: 130PX;
		float: left;
		text-align: center;
		line-height: 25px;
	}
	
	.Weekend_Music{
		position: absolute;
		z-index : 1;
		top : 100px;
		left : 198px;
		width : 90%;
		height : 600px;
		background: rgb(223, 229, 232);
	}
	
	.Weekend_Music li{
		padding-left: 10px;
		padding-right: 50px;
		display: inline-block;
	}
	
	.Weekend_Music button{
		border : none;
		outline: none;
  		box-shadow: none;
  		background-color: rgb(223, 229, 232);
	}
	
	.Weekend_Music img:hover{
		transform : scale(1.1);
		z-index: 100;
		transition: transform.1s
	}
	
	.weekend_Music button:focus,
	button:active {
  		outline: none;
  		box-shadow: none;
	}
	
	.MusicChart{
		position : absolute;
		z-index : 1;
		top : 720px;
		left : 202px;
		width : 40%;
		height : 600px;
		background: #fff;
	}
	
	.MusicChart ul{
		position: relative;
		background: #fff;
	}
	
	.MusicChart ul li{
		list-style : none;
		padding : 10px;
		widows: 80%;
		background: #fff;
		box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
		transition : transform 0.5s;
	}
	
	.MusicChart ul li:hover{
		transform : scale(1.07);
		z-index: 100;
		background: #25bcff;
		box-shadow: 0 5px 25px rgba(0, 0, 0, .2); 
		color : #fff;
	}
	
	.MusicChart ul li span{
		width : 20px;
		height: 20px;
		text-align: center;
		line-height: 20px;
		background: #25bcff;
		color : #fff;
		display : inline-block;
		border-radius: 50%;
		margin-right : 20px;
		font-size: 12px;
		font-weight: 600;
	}
	
	.MusicVideo{
		position : absolute;
		z-index : 1;
		top : 720px;
		left : 1120px;
		width : 40%;
		height : 600px;
		background : #fff;
	}
	
	.text{
		padding-top : 15px;
		padding-left : 30px;
	}
	
	h2{
		display: inline-block;
	}
	
	.text p{
		display: inline-block;
		padding-left: 20px;
	}
	
	a{
		color : Black;
		font-size : 15px;
		text-decoration:none;
	}
	
	a:link {
		color : Black;
		text-decoration:none;
	}
	
	a:visited {
		color : Black;
		text-decoration:none;
	}
	
	a:hover{
		color : Gray;
		text-decoration:none;
		cursor : pointer;
	}
	
	#jstext {
	  	font-size: 15px;
	}
	
	#Kor{
		display: none;
	}
	
	#Os{
		display: none;
	}