@charset "UTF-8";

body {
  padding: 0px;
  margin: 0px;
}

.bg {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px auto;
	margin-top: -5%;
	overflow: hidden;
}

.bgimg{
	position:absolute;
	top : 150px;
	left : 50px;
}

.LPImg {
	position:absolute;
	top : 500px;
	left : 550px;
	width  : 100px;
	height : 100px;
}

.LPImg img:hover {
	transition : transform 7s;
	transform:rotate(360deg);
}

.menu_top{
	position: fixed;
	top:0px;
	width: 100%;
	height: 100px;
	color : white;
	overflow:hidden;
	border-bottom: 1px solid black;
	padding-top: 20px;
}

li{list-style:none}

.menu_top li {
	width: 100PX;
	float: left;
	text-align: center;
	line-height: 25px;
}

.menu_top input {	
	width: 250px;
	height: 32px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	border-color: blue;
	border : 1px solid;
}

.menu_left{
	position: fixed;
	top: 100px;
	width: 150px;
	height: 100%;
	color : white;
	overflow:hidden;
	border-color : rgba(255, 255, 255, 0.7);
	border-top : 1px solid;
	border-right : 1px solid; 
	padding-top: 30px;
}

.Weekend_Music{
	position: absolute;
	top : 122px;
	left : 200px;
	width : 100%;
	height : 700px;
	background: rgb(223, 229, 232);
}

.menu_left li {
	height: 70PX;
	text-align: left;
}

a:link {
	color : Black;
	text-decoration:none;
}

a:visited {
	color : Black;
	text-decoration:none;
}

form {
	display: inline;
}

div [class="logininput"]
{
	display: inline;
}


