@charset "UTF-8";

.logo{
		position: fixed;
		top : 20px;
		left : 50px;
}
.menu_top{
	position: fixed;
	z-index : 99;
	top : 0px;
	left : 200px;
	width: 90%;
	height: 100px;
	color : white;
	overflow:hidden;
	
	padding-top : 20px;
	
	background-color : white;
	
	border-bottom :1px solid; 
	border-color : rgb(233, 229, 232);
}		
.menu_top ul{
	display : inline-block;
	list-style: none;
}

.menu_top li {
	top : 50px;
	width: 90PX;
	float: left;
	text-align: center;
	line-height: 30px;
}

.menu_top input {
	top : 30px;
	width: 350px;
	height: 40px;
	font-size: 13px;
	color : Black;
	outline: none;
	padding-left: 17px;
	
	background-image: url('../98_Image/Search.jpg');
	background-repeat: no-repeat;
	background-size : 35px;
	background-position: right;
	
	border-radius: 20px;
	border : 2px solid;
	border-color: rgb(255, 0, 0);
}
.menu_left{
	position: fixed;
	z-index : 98;
	top: 99px;
	width: 200px;
	height: 100%;
	overflow:hidden;
	
	padding-top: 30px;

	background-color : white;
	
	border-top :1px solid;
	border-right :1px solid; 
	border-color : rgb(233, 229, 232);
}
.menu_left li {
	height: 60PX;
	text-align: left;
	list-style: none;
}	
.menu_right{
	position : fixed;
	z-index : 99;
	top : 10px;
	right : 30px;
	width : 200px;		
}

.menu_right li {
	top : 0px;
	width: 130PX;
	float: left;
	text-align: center;
	line-height: 25px;
	list-style : none;
	font-size: 14px;
}