@charset "UTF-8";

body {
  padding: 0px;
  margin: 0px;
}

.bg {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px auto;
	margin-top: -5%;
	overflow: hidden;
}

.bgimg{
	position:absolute;
	top : 150px;
	left : 50px;
}

.LPImg {
	position:absolute;
	top : 500px;
	left : 550px;
	width  : 100px;
	height : 100px;
}

.LPImg img:hover {
	transition : transform 7s;
	transform:rotate(360deg);
}

.menu_top{
	position: fixed;
	top : 20px;
	width: 100%;
	height: 100px;
	color : white;
	overflow:hidden;
	
	border-color : rgba (192, 192, 192, 1);
	border-bottom: 2px solid;
}

li{list-style:none}

.menu_top li {
	top : 20px;
	width: 100PX;
	float: left;
	text-align: center;
	line-height: 25px;
}

.menu_top input {
	top : 20px;
	width: 500px;
	height: 32px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	border-color: blue;
	border : 1px solid;
	
	background-image: url('../98_Image/Search.jpg');
	background-repeat: no-repeat;
	background-size : 33px;
	background-position: right;
}

.menu_left{
	position: fixed;
	top: 100px;
	width: 200px;
	height: 100%;
	overflow:hidden;
}

.Weekend_Music{
	position: absolute;
	top : 102px;
	left : 202px;
	width : 100%;
	height : 600px;
	background: rgb(223, 229, 232);
}

.Weekend_Music li{
	padding-left: 10px;
	padding-right: 60px;
	display: inline-block;
}

.menu_left li {
	height: 70PX;
	text-align: left;
}

a:link {
	color : Black;
	text-decoration:none;
}

a:visited {
	color : Black;
	text-decoration:none;
}

<!--
form {
	display: inline;
}

-->